body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff6ee;
  overflow-x: hidden;
}

.page {
  display: none;
  padding: 40px;
}

.page.active {
  display: block;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: #fff6ee;
  border-bottom: 2px solid orange;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  font-weight: bold;
  color: orange;
  font-size: 16px;
}

.nav-links a:hover {
  color: darkorange;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 50px;
}

.hero-img img {
  width: 420px;
  border-radius: 20px;
}

.hero-text h1 {
  font-size: 55px;
  color: orange;
  font-weight: 800;
}

.hero-text p {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.hero-buttons button {
  padding: 14px 28px;
  margin-right: 15px;
  border: none;
  border-radius: 30px;
  background: orange;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.hero-buttons button:hover {
  background: darkorange;
}

/* TITLES */
.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 800;
}

/* DOG CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  background: white;
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
}

.card button {
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  background: orange;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.card button:hover {
  background: darkorange;
}

/* REGISTER FORM */
.register-form {
  width: 420px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.register-form label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

.register-form input,
.register-form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.register-form button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: orange;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.register-form button:hover {
  background: darkorange;
}
